@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');



body {
  color: black;
  background: pink;
font-family: 'Limelight'
}




ul {
  list-style-type: none;
   font-family: 'Limelight'
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.nav ul li a {
 font-family: 'Limelight'
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #DB7093;
}

 body, html {
            padding: 0;
            height: 100%;
        }

.top-rectangle {
            width: 100%;
            font-size: 30px;
            height: 20vh; /* 1/5 of the viewport height */
            background-color: white;
            position: fixed;
            top: 0;
	    margin: 0;
	    padding: 0;
            left: 0;
            display: flex;
            justify-content: center; /* Centers text horizontally */
            align-items: center; /* Centers text vertically */
            z-index: 10;
        }

.body {
	    font-family: 'Playwrite DE Grund';
            font-size: 30px;
	    padding: 4rem 4rem 4rem 4rem;
            width: 50%%;
            top: 0;
	    margin: 10rem 4rem 4rem 4rem;
            left: 0;
        }


.rectangle-text {
	    padding: 4rem 4rem 4rem 4rem;
            font-family: 'Limelight'
            text-align: center;
            font-size: 40px;
	    margin: 0;
	    padding: 0;
            font-weight: bold;
            color: black;
        }
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 20vh; /* Places the nav directly below the top rectangle */
  width: 100%;
}
.body {
      cursor: url("Boww.png"), auto;
}